In [9]:
a=40
b=50
c=30
d=70
if(a<b and a<c and a<d):
    print("a is minimum")
elif(b<a and b<c and b<d):
    print("b is minimum")
elif(c<a and c<b and c<d):
    print("c is minimum")  
elif(d<a and d<c and d<b):
    print("d is minimum")

c is minimum

In [21]:
n = 153  
s = n  
b = len(str(n))
sum1 = 0
while n != 0:
    r = n % 10
    sum1 = sum1+(r**b)
    n = n//10
if s == sum1:
    print("this is amstrong no.",s)
else:
    print("this is not amstrong no.",s)

this is amstrong no. 153

In [2]:
r=3
h=345
volume=3.14*h*r**2/1000
print("volume of cyl.",volume,"litre")
cost=230/9
print("cost for 1 litres",cost)
cost1=5*cost
print("cost for 5 litres",cost1)

volume of cyl. 9.749699999999999 litre
cost for 1 litres 25.555555555555557
cost for 5 litres 127.77777777777779

In [40]:
'''now find out the sum of sq. first 50 even natural no.''' 
sum=0
for i in range(1,51):
    if(i%2==0):
        sum+=i**2
   
print(sum)

22100

In [38]:
'''find wether it is prime or not'''
x=int(input())

if(x==1):
    print("not prime")
    
else:
    n=True
    for i in range(2,x):
        if(x%i==0 ):
            n=False
            break
        

    if(n==True):
        print("prime")

    else:
        print("not prime")

 5

prime